.sidebar{
    /* border: 1px solid black; */
    height: 100vh;
    flex: 0.2;
    color: white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    background-color: #040404;
}

.sidebar >hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}
.sidebar_logo{
    height: 70px;
    padding: 10px;
    object-fit: contain;
    margin-right: auto;
}

.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}